

body{
  font-family: sans-serif;
  position: absolute;
}
#circle1 {
    width: 500px;
    height: 500px;
    background: #FEC0CF;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    float:left;
    font-size: 100px;
    text-align: center;
    color: white;
    margin: 100px;
    margin-bottom: 0;
    margin-left: 150px;
}
#name {margin-top: 180px;
      margin-left: 150px;
      font-family: sans-serif;
}
.lastname {
  font-family: sans-serif;
  font-size: 100px;
  text-align: right;
  color:#FEC0CF;
  margin-left: 680px;
  position: absolute;
  margin-top: 280px;;
}


#column1 {

  position: static;
  float: left;
  margin-top: 0;
  font-size: 18px;
  padding-right: 70px;
  margin-left: 30px;
  border-right: 3px solid #FEC0CF;

}

.intro{
  position: inheri7;
  display: block;
  margin-top: 700px;
  margin-left: 190px;
color: #4bccc4;
  font-size: 22px;
  margin-bottom: 50px;
  border-left: 3px solid #4bccc4;
  padding-left: 30px;

}

#works{
  width: 200px;
  padding: 20px;
  display: inline;
}
.descript
{
  font-size: 12px;
  text-align: inherit;
}
.intro : hover { color:blue;}

#column2 {

float:left;
margin-top: 100px;
margin-left: 190px;
margin-right: 0;
margin-bottom: 100px;
display: block;
font-family: sans-serif;
font-size: 22px;
color:#915e4a;
border-left: 3px solid #4bccc4;
padding-left: 30px;
padding-bottom: 500px;
width: 1000px;
padding-top: 0;
height: 400px;


}
img {
  align-items:flex-end;
}
a {display: block;}

ol {
  font-size: 18px;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #FEC0CF;
  font-family: Arial;
  margin-bottom: 50px;
  padding-left: 180px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



.grad {background-image: linear-gradient(to right, red , yellow);}
