header{
  background-color: #e6f8d4;
  width: 100%;
  height: 10%;

}

footer{
  background-color: #c1f1ab;
  width: 100%;
  height: 10%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

aside{
  background-color:#71cfae;
  width: 40%;
  height: 80%;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
}


main{
  background-color: #448e88;
  width: 60%;
  height: 80%;
display: inline-block;
margin: 0;
padding: 0;
float: left;
  z-index: 2;
}

main section{
  background-color: #0c3d46;
  border: 5px solid white;
  width: 50%;
  height: 50%;

  margin: 0;
  padding: 0;
  float: left;

}

aside section{
  background-color: #0c3d46;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  width: 100%;
  height: 25%;
  z-index: 2;
 margin: 0;
 padding: 0;
}

html, body{
  width: 100%;
  height:100%;
  margin: 0;

}

*{box-sizing:border-box;}
