header{
  background-color: #e6f8d4;
  width: 100%;
  height: 10%;

}

footer{
  background-color: #c1f1ab;
  width: 100%;
  height: 10%;
  display: inline-block;

}

aside{
  background-color:#71cfae;
  width: 30%;
  height: 80%;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
}


main{
  background-color: #448e88;
  width: 70%;
  height: 80%;
display: inline-block;
margin: 0;
padding: 0;
float: left;

}

section{
  background-color: #0c3d46;

}

html, body{
  width: 100%;
  height:100%;
  margin: 0;

}
